In [33]:
import pandas as pd
traum=pd.read_csv('Downloads/full_data.csv', sep=';', dtype= {"EAN": "str"})

In [35]:
traum.head(5)

,SKU,EAN,MPN,Hersteller,Produktname,Preis,Mindestpreis,Lieferzeit,Farbe,Größe,Versandkosten,Direktverkauf: Freigabe,Lagerbestand,Direktverkauf: Versandart,Direktverkauf: Lieferkosten bis zum Aufstellort,Direktverkauf: Kosten Altgerätemitnahme,Direktverkauf: Preisspanne
0,W-01-30671,4048889008027,190470,Tecline,"Mauspad, blau",11.35,8.69,1 Tag,NaN,NaN,0,1,21,Paketdienst,NaN,NaN,NaN
1,W-01-30688,4048889015254,701090,Tecline,"9pol D-Sub Buchse, Lötversion",9.18,7.03,1 Tag,NaN,NaN,0,1,311,Paketdienst,NaN,NaN,NaN
2,W-01-30696,4048889008621,701250,Tecline,"25pol D-Sub Buchse, Lötversion",9.23,7.07,1 Tag,NaN,NaN,0,1,19,Paketdienst,NaN,NaN,NaN
3,W-80-11141271,4048889008652,10115B,EXERTIS CONNECT,"15pol HD D-Sub Buchse, L?tversion f?r z.B VGA",16.24,12.44,1 Tag,NaN,NaN,0,1,3,Paketdienst,NaN,NaN,NaN
4,W-01-30730,4048889015834,915.170,Bachmann,"Bachmann Kaltgerätekupplung Nr. 794, 70 Grad ...",11.58,8.86,1 Tag,NaN,NaN,0,1,22,Paketdienst,NaN,NaN,NaN

In [36]:
limango.dtypes

Artikelnummer                 object
EAN                           object
PZN                          float64
Herstellerartikelnummer      float64
Hersteller                    object
Produktname                   object
Preis                        float64
Streichpreis                 float64
Lieferzeit                    object
Kategorie                     object
Beschreibung                  object
Bild_URL_main                 object
Bild_URL_extra1               object
Farbe                         object
Größen                        object
Versandkosten Vorkasse       float64
Versandkosten Nachnahme      float64
Versandkosten Kreditkarte    float64
Versandkosten PayPal         float64
Merchant Name                 object
Subcategory                   object
Grundpreis                    object
Deeplink                      object
dtype: object

In [37]:
traum = traum.dropna(subset=['EAN'])

In [38]:
new=traum[['EAN']]
new.head(4)

             EAN
0  4048889008027
1  4048889015254
2  4048889008621
3  4048889008652

In [ ]:
#EAN-Pries-Leadouts(on a monthly basis or daily or last 30 days)
#EAN- product_id-Preis-leadouts

In [17]:
new.to_csv('out.csv', index=False)

In [39]:
import prestodb
conn=prestodb.dbapi.connect(
    host='presto.apps.eu.idealo.com',
    port=443, user='aishwarya.kumar',
    catalog='hive',
    http_scheme='https',
    schema='default',)
# create the cursor
cur = conn.cursor()
# cursor objects functions and attributes
[thing for thing in dir(cur) if '_' not in thing]

['arraysize',
 'cancel',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'fetchall',
 'fetchmany',
 'fetchone',
 'genall',
 'rowcount',
 'setinputsizes',
 'setoutputsize',
 'stats']

In [40]:
def mapstring(n):
    return "'" + n + "'"

ean_list = list(map(mapstring, traum['EAN'].tolist()))

ean_list

["'4048889008027'",
 "'4048889015254'",
 "'4048889008621'",
 "'4048889008652'",
 "'4048889015834'",
 "'4048889015841'",
 "'4048889009024'",
 "'4017538710406'",
 "'4048889004852'",
 "'4048889004937'",
 "'4048889004944'",
 "'4048889004760'",
 "'4048889004838'",
 "'4048889007099'",
 "'4048889007440'",
 "'4016514014712'",
 "'4016514014729'",
 "'4710423770751'",
 "'4012740837613'",
 "'4048889009475'",
 "'4048889005620'",
 "'4048889005637'",
 "'4048889005651'",
 "'4048889015056'",
 "'4048889015094'",
 "'4012740138192'",
 "'4048889011249'",
 "'4048889011256'",
 "'4048889011270'",
 "'4048889011300'",
 "'4048889011317'",
 "'4048889011331'",
 "'4048889011362'",
 "'4048889011379'",
 "'4048889011393'",
 "'4048889011423'",
 "'4048889011485'",
 "'4048889006610'",
 "'4048889002131'",
 "'4048889006306'",
 "'4049759039868'",
 "'4048889015605'",
 "'4048889012710'",
 "'4048889012772'",
 "'4048889012895'",
 "'4048889012956'",
 "'4048889013014'",
 "'4048889013137'",
 "'4048889013250'",
 "'4048889005644'",
 "'8595105030691'",
 "'8595105030707'",
 "'4048889013311'",
 "'4048889013373'",
 "'4048889012840'",
 "'4048889013021'",
 "'4048889005682'",
 "'4048889012741'",
 "'4048889012727'",
 "'4048889012758'",
 "'4048889012765'",
 "'4048889012864'",
 "'4048889012871'",
 "'4048889012888'",
 "'4048889012932'",
 "'4048889012949'",
 "'4048889012963'",
 "'4048889012987'",
 "'4048889013007'",
 "'4048889013045'",
 "'4048889013069'",
 "'4048889013106'",
 "'4048889013113'",
 "'4048889013120'",
 "'4048889013144'",
 "'4048889013168'",
 "'4048889013175'",
 "'4048889013236'",
 "'4048889013243'",
 "'4048889013298'",
 "'4048889011294'",
 "'4048889011324'",
 "'4048889011355'",
 "'4048889011386'",
 "'4048889011416'",
 "'4048889011447'",
 "'4048889013496'",
 "'0077511983160'",
 "'8717511107310'",
 "'4048889015797'",
 "'4016514008032'",
 "'4016514008025'",
 "'4016514008063'",
 "'4016514007349'",
 "'4710423771215'",
 "'4710423771222'",
 "'4048889025352'",
 "'4250184106135'",
 "'4250184106111'",
 "'4250184105473'",
 "'4250184105640'",
 "'4250184105565'",
 "'4250184105671'",
 "'4048889014509'",
 "'4048889014530'",
 "'4048889014554'",
 "'4048889014585'",
 "'4048889014615'",
 "'4048889014783'",
 "'0731304003298'",
 "'4048889012734'",
 "'4048889013434'",
 "'4048889019023'",
 "'4048889024133'",
 "'4048889012819'",
 "'4048889013038'",
 "'4016514019465'",
 "'4048889019030'",
 "'4048889013151'",
 "'0606449025187'",
 "'4048889001561'",
 "'4048889001639'",
 "'4048889013342'",
 "'4013674020133'",
 "'4013674020140'",
 "'4013674502011'",
 "'4013674020119'",
 "'4048889013090'",
 "'4048889013274'",
 "'0077511530616'",
 "'8595105016107'",
 "'8595105005576'",
 "'8595105005552'",
 "'4048889006481'",
 "'8595105072981'",
 "'4048889010402'",
 "'4048889010419'",
 "'4048889010464'",
 "'4048889010549'",
 "'4048889010587'",
 "'4048889010594'",
 "'4048889010617'",
 "'4048889010648'",
 "'4048889010655'",
 "'4048889010662'",
 "'4048889010693'",
 "'4048889010709'",
 "'4048889010716'",
 "'4048889010730'",
 "'4048889010761'",
 "'4048889010884'",
 "'4048889010914'",
 "'4048889011003'",
 "'4048889011188'",
 "'4048889010471'",
 "'4048889010488'",
 "'4048889010501'",
 "'4048889010495'",
 "'4048889013359'",
 "'4048889013410'",
 "'4048889013533'",
 "'4048889010525'",
 "'4048889010518'",
 "'4048889012796'",
 "'0606449029673'",
 "'4250184106586'",
 "'0077511906916'",
 "'4013674015184'",
 "'4016514003945'",
 "'4016514008407'",
 "'4016514013661'",
 "'4016514000661'",
 "'4016514000678'",
 "'4016514014446'",
 "'4016514014439'",
 "'4016514014460'",
 "'4016514014538'",
 "'4016514003976'",
 "'4250078182979'",
 "'4013674015306'",
 "'4710423772427'",
 "'4710423772502'",
 "'4710423771475'",
 "'4250184102601'",
 "'4250184102625'",
 "'4250184102731'",
 "'4049759139469'",
 "'4028177438569'",
 "'4028177437357'",
 "'4028177014114'",
 "'4028177187245'",
 "'4028177443945'",
 "'4048889026328'",
 "'4048889015810'",
 "'4016514019274'",
 "'4016514019489'",
 "'4016514019519'",
 "'4016514003877'",
 "'4016514014477'",
 "'4710423772892'",
 "'8595105016343'",
 "'8595105016350'",
 "'4048889026397'",
 "'4016514014699'",
 "'4048889013564'",
 "'4048889013588'",
 "'4048889013571'",
 "'4048889013601'",
 "'4048889013632'",
 "'4048889013656'",
 "'4048889013663'",
 "'4048889013687'",
 "'4048889013694'",
 "'4048889013717'",
 "'4048889013748'",
 "'4048889013755'",
 "'4048889013762'",
 "'4048889013793'",
 "'4048889013830'",
 "'4048889013885'",
 "'4048889013878'",
 "'4048889013908'",
 "'4048889013953'",
 "'4048889014059'",
 "'4048889015803'",
 "'4710423773318'",
 "'4016514002948'",
 "'4028177492080'",
 "'4028177492097'",
 "'4710423772908'",
 "'4710423772120'",
 "'4250184106616'",
 "'4250184106159'",
 "'8595105020128'",
 "'4013674015337'",
 "'4028177014152'",
 "'8717511116602'",
 "'4049759010119'",
 "'8595105011638'",
 "'8595105012345'",
 "'8595105012222'",
 "'8595105074336'",
 "'8595105011508'",
 "'8595105073636'",
 "'4048889015599'",
 "'4048889008317'",
 "'4028177124929'",
 "'4028177124905'",
 "'4028177187207'",
 "'4028177187214'",
 "'4028177165748'",
 "'4048889006450'",
 "'4048889024232'",
 "'8717511119290'",
 "'4048889015087'",
 "'4013674013227'",
 "'8595105023501'",
 "'8595105015308'",
 "'8595105018446'",
 "'8595105011263'",
 "'0852153010548'",
 "'4710423774865'",
 "'4250280353327'",
 "'8595105020449'",
 "'8595105020418'",
 "'4048889015049'",
 "'4048889015100'",
 "'4028177551459'",
 "'8595105067956'",
 "'4013674350520'",
 "'4013674350421'",
 "'4013674350926'",
 "'4013674035236'",
 "'4048889024249'",
 "'8595105024324'",
 "'4710423774971'",
 "'4710423773530'",
 "'4710423774858'",
 "'8595105064665'",
 "'4016514019472'",
 "'4016514002931'",
 "'5099206003989'",
 "'4040849586279'",
 "'4710423774612'",
 "'4710423775107'",
 "'4048889024164'",
 "'4048889024157'",
 "'4048889026366'",
 "'8412355410250'",
 "'8412355410212'",
 "'8412355430210'",
 "'4048889019047'",
 "'4005938137015'",
 "'4250184106166'",
 "'5099206004023'",
 "'4260341629117'",
 "'4048889019016'",
 "'4710423775053'",
 "'4028177581012'",
 "'4048889019078'",
 "'4048889016121'",
 "'4048889016176'",
 "'4048889016206'",
 "'4048889016220'",
 "'4048889016275'",
 "'4048889016312'",
 "'4048889016336'",
 "'4048889016350'",
 "'4048889016343'",
 "'4048889016367'",
 "'4048889016374'",
 "'4048889016381'",
 "'4048889016404'",
 "'4048889016411'",
 "'4048889016435'",
 "'4048889016473'",
 "'4048889016510'",
 "'4048889016527'",
 "'4048889016541'",
 "'4048889016817'",
 "'4048889016831'",
 "'4048889016855'",
 "'4048889016886'",
 "'4048889017111'",
 "'4048889017128'",
 "'4048889017142'",
 "'4048889017166'",
 "'4048889024188'",
 "'4028177437388'",
 "'4028177453715'",
 "'4048889030417'",
 "'8595105019979'",
 "'8595105042236'",
 "'8595105043875'",
 "'8595105041628'",
 "'4016514014385'",
 "'8595105011041'",
 "'8595105011058'",
 "'4025112026027'",
 "'4048889017876'",
 "'4048889017944'",
 "'4048889018019'",
 "'4048889018088'",
 "'4048889018156'",
 "'4048889018293'",
 "'4048889018361'",
 "'4048889018439'",
 "'4048889018576'",
 "'4048889018644'",
 "'4048889017807'",
 "'4048889017814'",
 "'4048889017883'",
 "'4048889017951'",
 "'4048889018026'",
 "'4048889018163'",
 "'4048889018309'",
 "'4048889018378'",
 "'4048889017845'",
 "'4048889017913'",
 "'4048889017982'",
 "'4048889018262'",
 "'4048889018330'",
 "'4048889017821'",
 "'4048889017890'",
 "'4048889017968'",
 "'4048889018033'",
 "'4048889018101'",
 "'4048889018248'",
 "'4048889018316'",
 "'4048889018385'",
 "'4048889018521'",
 "'4048889018668'",
 "'4048889017852'",
 "'4048889017920'",
 "'4048889018064'",
 "'4048889018132'",
 "'4048889018200'",
 "'4048889018620'",
 "'4048889017869'",
 "'4048889017937'",
 "'4048889018002'",
 "'4048889018071'",
 "'4048889018149'",
 "'4048889018217'",
 "'4048889018354'",
 "'4048889017906'",
 "'4048889017975'",
 "'4048889018040'",
 "'4048889018118'",
 "'4048889018323'",
 "'4048889018392'",
 "'4048889024270'",
 "'1012010040012'",
 "'4017538115942'",
 "'6935364020682'",
 "'4048889022931'",
 "'6935364030506'",
 "'4048889022962'",
 "'4048889022993'",
 "'4048889023310'",
 "'4048889023334'",
 "'4048889023365'",
 "'4048889023372'",
 "'4048889021712'",
 "'4048889023396'",
 "'4048889023402'",
 "'4048889023419'",
 "'4048889019573'",
 "'4026908001501'",
 "'4710423775954'",
 "'4048889019627'",
 "'4048889019634'",
 "'4048889019641'",
 "'4048889019665'",
 "'4048889019672'",
 "'4048889019856'",
 "'4048889019870'",
 "'0882224856461'",
 "'4040849517273'",
 "'4710423776296'",
 "'4710423772847'",
 "'4710423776326'",
 "'6935364001049'",
 "'4710423776449'",
 "'4710423776593'",
 "'4016514006687'",
 "'4043619824465'",
 "'4710423776821'",
 "'3081070000012'",
 "'1053010400017'",
 "'1053010500014'",
 "'5055112822694'",
 "'4710423776043'",
 "'0790069332302'",
 "'4048889022566'",
 "'4048889022443'",
 "'4016514003860'",
 "'4710423776432'",
 "'4043619825905'",
 "'4043619825912'",
 "'4043619825929'",
 "'4043619825868'",
 "'4043619825875'",
 "'4710423775947'",
 "'4048889053331'",
 "'4250184132646'",
 "'4250184131601'",
 "'4250184131663'",
 "'4250184131908'",
 "'4250184131670'",
 "'4250184131915'",
 "'8595105083420'",
 "'1013010160120'",
 "'1053010260017'",
 "'4043619617678'",
 "'4260245850006'",
 "'4260245850020'",
 "'4048889026472'",
 "'4013674003877'",
 "'4043619826636'",
 "'4013674003730'",
 "'0852153014119'",
 "'4710423776814'",
 "'4048889024171'",
 "'4250184118565'",
 "'4250184118572'",
 "'4710423777002'",
 "'4710423777019'",
 "'8023251002335'",
 "'4048889027042'",
 "'4048889026908'",
 "'8023251002410'",
 "'4013674015283'",
 "'4048889023747'",
 "'4048889026922'",
 "'4048889023778'",
 "'0852153014317'",
 "'4048889026991'",
 "'4048889023662'",
 "'4048889023785'",
 "'4048889026915'",
 "'4048889023815'",
 "'4048889023693'",
 "'4048889023709'",
 "'4048889052969'",
 "'4048889053072'",
 "'4048889053133'",
 "'4048889053195'",
 "'1043010060120'",
 "'4048889053140'",
 "'4048889024294'",
 "'4048889024287'",
 "'4048889024348'",
 "'4048889024324'",
 "'4048889024355'",
 "'4048889024362'",
 "'4048889024867'",
 "'4048889024911'",
 "'4040849501456'",
 "'4048889025161'",
 "'4048889024874'",
 "'4048889024928'",
 "'4048889025024'",
 "'4048889024898'",
 "'4048889024997'",
 "'4048889025048'",
 "'4048889025291'",
 "'4048889024881'",
 "'4048889024980'",
 "'4048889025185'",
 "'4048889025239'",
 "'4048889025284'",
 "'4048889024904'",
 "'4048889025109'",
 "'4048889025154'",
 "'4048889025253'",
 "'4048889024515'",
 "'4048889024560'",
 "'4048889024669'",
 "'4048889024713'",
 "'4048889024768'",
 "'4048889024812'",
 "'4048889024478'",
 "'4048889024577'",
 "'4048889024676'",
 "'4048889024720'",
 "'4048889024546'",
 "'4048889024591'",
 "'4048889024485'",
 "'4048889024584'",
 "'4048889024638'",
 "'4048889024737'",
 "'4048889024508'",
 "'4048889024553'",
 "'4048889024706'",
 "'4048889024379'",
 "'4048889024386'",
 "'4048889024393'",
 "'4048889024409'",
 "'4048889024416'",
 "'4048889024423'",
 "'4048889024430'",
 "'4048889024447'",
 "'4048889024454'",
 "'8023251002274'",
 "'4048889026496'",
 "'4048889025949'",
 "'4048889025932'",
 "'4048889025857'",
 "'4048889025888'",
 "'4048889025864'",
 "'4048889025895'",
 "'4048889025901'",
 "'4048889025871'",
 "'4048889025963'",
 "'4048889025970'",
 "'4048889026007'",
 "'4048889026120'",
 "'4048889026021'",
 "'4048889026069'",
 "'4048889026052'",
 "'4048889026458'",
 "'4048889026526'",
 "'4048889026540'",
 "'4048889026557'",
 "'4048889026465'",
 "'4048889026137'",
 "'4048889026205'",
 "'4048889026212'",
 "'4048889026229'",
 "'4048889026281'",
 "'4710423776753'",
 "'4260134113212'",
 "'4048889027103'",
 "'4048889027127'",
 "'4048889027134'",
 "'4048889027189'",
 "'4048889026731'",
 "'4048889026830'",
 "'4048889026878'",
 "'4048889028094'",
 "'4010995353896'",
 "'1043010030123'",
 "'4043619824359'",
 "'4710423774438'",
 "'4710423776456'",
 "'4043619827534'",
 "'4048889028070'",
 "'4048889028087'",
 "'4048889028117'",
 "'4048889027646'",
 "'4048889027684'",
 "'4710423775336'",
 "'4028177663053'",
 "'5099206028074'",
 "'4048889052709'",
 "'4048889052587'",
 "'4048889052594'",
 "'4043619826902'",
 "'4977766696357'",
 "'5033588035541'",
 "'4710423774087'",
 "'4710423773462'",
 "'1043010040122'",
 "'4710423776784'",
 "'4043619822997'",
 "'4043619823086'",
 "'5099206033139'",
 "'4043619652587'",
 "'4048889028131'",
 "'4048889028155'",
 "'8595105061046'",
 "'8595105050101'",
 "'8595105050118'",
 "'8595105063682'",
 "'8595105063699'",
 "'8595105050125'",
 "'4048889028216'",
 "'4048889028230'",
 "'4048889028247'",
 "'4048889028254'",
 "'4048889028261'",
 "'4048889028278'",
 "'4048889028292'",
 "'4028177678729'",
 "'4260134113670'",
 "'4260134113687'",
 "'4043619618491'",
 "'4028177679061'",
 "'4028177679108'",
 "'4028177679320'",
 "'4028177679337'",
 "'4043619653270'",
 "'4025112076657'",
 "'4043619653447'",
 "'0852153014416'",
 "'4048889028599'",
 "'4048889028605'",
 "'4048889028629'",
 "'1053010660015'",
 "'5099206030015'",
 "'8595105009062'",
 "'4017538047090'",
 "'4017538047182'",
 "'4017538047274'",
 "'4017538046994'",
 "'4017538047281'",
 "'4017538047007'",
 "'4017538046925'",
 "'4017538047113'",
 "'4017538047205'",
 "'4017538047021'",
 "'4048889053201'",
 "'4048889055243'",
 "'4048889052938'",
 "'4048889053102'",
 "'4048889053164'",
 "'4048889053225'",
 "'4048889052921'",
 "'4048889053096'",
 "'4048889052952'",
 "'4048889053126'",
 "'4048889053188'",
 "'4048889053249'",
 "'4048889052945'",
 "'4048889053232'",
 "'4260245850525'",
 "'5099206027282'",
 "'4050647208235'",
 "'5099206031753'",
 "'4007123171262'",
 "'4007123590766'",
 "'4260134119610'",
 "'4260134118729'",
 "'4260134119160'",
 "'4260134119177'",
 "'4260134120098'",
 "'4260134119597'",
 "'4260134119627'",
 "'4260134119634'",
 "'4250280378061'",
 "'8717511116688'",
 "'8717511118385'",
 "'4043619654277'",
 "'4043619861408'",
 "'5703431469785'",
 "'4048889029084'",
 "'4048889029107'",
 "'4048889029091'",
 "'4048889029114'",
 "'4048889029336'",
 "'4048889029022'",
 "'4048889029176'",
 "'4017538046932'",
 "'4017538047120'",
 "'4017538047212'",
 "'4017538047038'",
 "'4017538047229'",
 "'4017538046956'",
 "'4017538047236'",
 "'4017538047328'",
 "'4048889029145'",
 "'4017538046963'",
 "'4048889029404'",
 "'4048889029497'",
 "'4048889029473'",
 "'4048889029480'",
 "'5703431443945'",
 "'4043619824250'",
 "'4048889052617'",
 "'4043619824236'",
 "'0023942491743'",
 "'0852153010616'",
 "'4048889050439'",
 "'4048889050446'",
 "'4048889050422'",
 "'4048889050453'",
 "'4043619654598'",
 "'4018359361808'",
 "'4018359254407'",
 "'4043619618569'",
 "'5099206039179'",
 "'4018359286453'",
 "'4018359289126'",
 "'4018359286651'",
 "'4018359286484'",
 "'4018359286682'",
 "'4018359286514'",
 "'4018359286569'",
 "'4018359286668'",
 "'4018359286040'",
 "'4018359286521'",
 "'4018359286620'",
 "'4018359286675'",
 "'4018359286644'",
 "'4018359286699'",
 "'4018359288150'",
 "'4018359288198'",
 "'4018359288204'",
 "'4710423779716'",
 "'4048889030318'",
 "'4048889030127'",
 "'8595105019061'",
 "'4018359363314'",
 "'4049759110710'",
 "'7330965145502'",
 "'5099206048744'",
 "'4043619834150'",
 "'0740617211719'",
 "'0740617211726'",
 "'6935364031848'",
 "'4048889030578'",
 "'4025112081316'",
 "'0852153014713'",
 "'4719264640049'",
 "'0718037806266'",
 "'0718037855448'",
 "'4043619833726'",
 "'5055112839722'",
 "'5055112839685'",
 "'4048889050187'",
 "'4048889050194'",
 "'4048889050200'",
 "'3700820000354'",
 "'4043619654727'",
 "'4043619862108'",
 "'4043619862054'",
 "'4048889050491'",
 "'4048889050514'",
 "'4048889050521'",
 "'4048889050477'",
 "'4048889050507'",
 "'4048889050538'",
 "'4048889050460'",
 "'4048889050484'",
 "'4260134120081'",
 "'6935364021146'",
 "'8717399995405'",
 "'4710423779679'",
 "'4710423779921'",
 "'4710423779938'",
 "'4719264640339'",
 "'4977766735087'",
 "'3548382251117'",
 "'3548382251131'",
 "'4028177663046'",
 "'3524891908032'",
 "'3524891908056'",
 "'3524891908087'",
 "'3524891908209'",
 "'3524891908216'",
 "'3524891908230'",
 "'3524891908247'",
 "'3524891908353'",
 "'4043619862504'",
 "'4712818571042'",
 "'4712818570366'",
 "'3548387545327'",
 "'4712818570267'",
 "'4712818570250'",
 "'4712818570229'",
 "'4712818570236'",
 "'4712818570311'",
 "'3548382910601'",
 "'3548384721205'",
 "'3548384711039'",
 "'3548387547208'",
 "'3548388541922'",
 "'3548387544504'",
 "'3548387545006'",
 "'3548387545105'",
 "'3548387545600'",
 "'3548389150208'",
 "'3548389150307'",
 "'3548389150994'",
 "'3548388539257'",
 "'3548388539592'",
 "'3548388539660'",
 "'3548388572001'",
 "'3548388572100'",
 "'3548388572209'",
 "'3548388572308'",
 "'3548388572407'",
 "'4048889050811'",
 "'3548388571301'",
 "'3524898479153'",
 "'3524890084720'",
 "'3524898479207'",
 "'3524890084737'",
 "'3548388475005'",
 "'3548388571110'",
 "'3548382313105'",
 "'3548388477139'",
 "'3524898471447'",
 "'3548388477184'",
 "'3524898470341'",
 "'3524898471348'",
 "'3548382313006'",
 "'8717399991070'",
 "'8717399994002'",
 "'8717399991087'",
 "'8717399994156'",
 "'8717399994842'",
 "'8717399995788'",
 "'8717399995832'",
 "'3548388570502'",
 "'3548382313204'",
 "'3524898471430'",
 "'3524898470334'",
 "'3524898471331'",
 "'3548388477108'",
 "'3548388477153'",
 "'3548382313402'",
 "'3524898471423'",
 "'3524898470327'",
 "'3524898471324'",
 "'3548388477115'",
 "'3548388477160'",
 "'3548388570908'",
 "'3548382313303'",
 "'3524898471416'",
 "'3524898470310'",
 "'3524898471317'",
 "'3548388477122'",
 "'3548388477177'",
 "'3548388571202'",
 "'3548382313501'",
 "'3524898471461'",
 "'3524898471362'",
 "'3548382348503'",
 "'3548382349005'",
 "'3524890842054'",
 "'3548388579000'",
 "'3524890084225'",
 "'3524890084256'",
 "'3548382400706'",
 "'3524890842108'",
 "'3524898429158'",
 "'3548382402502'",
 "'3524898420544'",
 "'3548388579406'",
 "'3524898422043'",
 "'3524898425044'",
 "'3548382465705'",
 "'3548388533347'",
 "'3548388533361'",
 "'3524898420537'",
 "'3548388579109'",
 "'3524898422036'",
 "'3524898425037'",
 "'3548382435708'",
 "'3548388533255'",
 "'3548388533279'",
 "'3524898420520'",
 "'3548388579208'",
 "'3524898422029'",
 "'3524898425020'",
 "'3524898420513'",
 "'3548388579307'",
 "'3524898422012'",
 "'3524898425013'",
 "'3548382455706'",
 "'3548388533316'",
 "'3548388533330'",
 "'3548382342204'",
 "'3548388579437'",
 "'3548382342402'",
 "'3548388579529'",
 "'3548382342907'",
 "'3548382341009'",
 "'3548388579413'",
 "'3548382341207'",
 "'3548382341405'",
 "'3548388579505'",
 "'3548388533378'",
 "'3548388533392'",
 "'3548382341603'",
 "'3548388579420'",
 "'3548382341801'",
 "'3548388538106'",
 "'3548388538120'",
 "'3548388538137'",
 "'3548388538151'",
 "'3548388579536'",
 "'3548388538175'",
 "'3548388538199'",
 "'3548382445707'",
 "'3548388568288'",
 "'3548388568462'",
 "'3548388568554'",
 "'3548388568646'",
 "'3548388568820'",
 "'3548388568912'",
 "'3548388569001'",
 "'3548388569186'",
 "'3548388568233'",
 "'3548388568325'",
 "'3548388568509'",
 "'3548388568592'",
 "'3548388568684'",
 "'3548388568776'",
 "'3548388568868'",
 "'3548388568950'",
 "'3548388569346'",
 "'3548388568110'",
 "'3548388568295'",
 "'3548388568561'",
 "'3548388568653'",
 "'3548388568837'",
 "'3548388568929'",
 "'3548388569315'",
 "'3548388568301'",
 "'3548388568486'",
 "'3548388568578'",
 "'3548388568660'",
 "'3548388568844'",
 "'3548388568936'",
 "'3548388569322'",
 "'3548388568318'",
 "'3548388568493'",
 "'3548388568585'",
 "'3548388568677'",
 "'3548388568851'",
 "'3548388568943'",
 "'3548388569339'",
 "'3548388568349'",
 "'3548388568523'",
 "'3548388568615'",
 "'3548388568707'",
 "'3548388568882'",
 "'3548388568974'",
 "'3548388569308'",
 "'3548388568332'",
 "'3548388568516'",
 "'3548388568608'",
 "'3548388568691'",
 "'3548388568875'",
 "'3548388568967'",
 "'3548388569230'",
 "'3548388595000'",
 "'3548388595017'",
 "'3548388595031'",
 "'3548388595055'",
 "'3548388595062'",
 "'3548388595079'",
 "'3548388595109'",
 "'3548388595123'",
 "'3548388595154'",
 "'3548388595161'",
 "'3548388595185'",
 "'3548388595215'",
 "'3548388595277'",
 "'3548388595307'",
 "'3548388595314'",
 "'3548388595338'",
 "'3548388595369'",
 "'3548388595376'",
 "'3548388595420'",
 "'3548388595451'",
 "'3548388595468'",

In [20]:
len(ean_list)
ean_list=ean_list[:1000]

In [41]:
# Yield successive n-sized
# chunks from l.
def divide_chunks(l, n):
      
    # looping till length l
    for i in range(0, len(l), n): 
        yield l[i:i + n]
  
# How many elements each
# list should have
n = 50000
  
ean_list_chunks = list(divide_chunks(ean_list, n))
len(ean_list_chunks)

4

In [43]:
from IPython.display import display

def maptoquery(n):
    sql='''
WITH eans AS (
        SELECT DISTINCT ean,id as product_id
        FROM dl_inventory_analytics_prod.current_product_offers
        CROSS JOIN UNNEST(eans) as t(ean)
        WHERE ean in (''' + ','.join(n) + ''')
  )
  
  select distinct ean,product_id,root_category_name
  from dl_inventory_intelligence_prod.tidy_category_tree c join eans e on 
  c.category_id=e.category_id
      
  '''
    print("Execute Query.")
    cur.execute(sql) # this was a multiline string.
    records = cur.fetchall()
    print("Total rows are: ", len(records))
    
    colnames = [col[0] for col in cur.description]
    colnames[0:6]
    return pd.DataFrame(records, columns=colnames)
    
ean_list_result = list(map(maptoquery, ean_list_chunks))

Execute Query.
Total rows are:  28776
Execute Query.
Total rows are:  21446
Execute Query.
Total rows are:  5813
Execute Query.
Total rows are:  1878

In [47]:
df_result = pd.concat(ean_list_result)

In [48]:
n = df_result.nunique(axis=0)
n

ean                   57913
product_id            55080
root_category_name       10
dtype: int64

In [44]:
n = traum.nunique(axis=0)
n

SKU                                                152803
EAN                                                152803
MPN                                                 99520
Hersteller                                           2495
Produktname                                        124867
Preis                                               29550
Mindestpreis                                        27194
Lieferzeit                                              4
Farbe                                                   0
Größe                                                   0
Versandkosten                                           1
Direktverkauf: Freigabe                                 1
Lagerbestand                                         1561
Direktverkauf: Versandart                               2
Direktverkauf: Lieferkosten bis zum Aufstellort         0
Direktverkauf: Kosten Altgerätemitnahme                 0
Direktverkauf: Preisspanne                              0
dtype: int64

In [24]:
df_result.head(10)

,EAN,offer_id,product_id,offer_pos,type,min_price,count
0,4005556214228,3394967126681849913,327084.0,-1.0,checkout,16.49,1.0
1,4005556214228,3394967126681849913,327084.0,2.0,offer,16.49,1.0
2,4005556214228,9706766438,327084.0,4.0,offer,16.49,1.0
3,5012909005272,3420428631506157799,570050.0,1.0,checkout,49.26,9.0
4,5012909005272,3402871041104550294,570050.0,1.0,offer,49.79,3.0
5,5012909005272,3363534124085155438,570050.0,1.0,offer,None,2.0
6,5012909005272,3420428631506157799,570050.0,2.0,checkout,49.26,2.0
7,5012909005272,3404425334852948887,570050.0,2.0,offer,45.99,2.0
8,5012909005272,3420428631506157799,570050.0,2.0,offer,49.26,3.0
9,5012909005272,3404425334852948887,570050.0,3.0,offer,45.99,2.0

In [115]:
limango_2=limango[['EAN','Preis']]
limango_2=limango_2.rename(columns={"Preis": "min_price"})
limango_2=limango_2.dropna()
limango_2=limango_2.astype({'EAN': 'int64'})
df_result_2=df_result.dropna()
result = pd.merge(df_result_2, limango_2, on=["EAN", "min_price"], how='inner')

#aa=df_result[['EAN']=='4033157410367']
#aa=df_result_2[((df_result_2['EAN']==4033157410367) & (df_result_2['min_price']==259.0))]

In [151]:
#result=result[((result['EAN']==4033157410367) & (result['min_price']==259.0))]

In [153]:
result_2=result.groupby(['EAN','product_id','min_price']).agg({'count': ['sum']})
result_2

                                   count
                                     sum
EAN           product_id min_price
4033157410367 669476.0   259.0       2.0
              3034858.0  259.0       6.0

In [157]:
result.count()

EAN           4314
offer_id      4314
product_id    4314
offer_pos     4314
type          4314
min_price     4314
count         4314
dtype: int64

In [160]:
df_result.count()

EAN           4486574
offer_id      4486574
product_id     231413
offer_pos      231498
type           231498
min_price     2929780
count          231498
dtype: int64

In [162]:
n = df_result.nunique(axis=0)
n

EAN            180537
offer_id      4048194
product_id      37048
offer_pos         272
type                3
min_price         933
count             195
dtype: int64

In [169]:
result.to_csv('limago_LOCO_result.csv', index=False)

In [170]:
result.count()

EAN           4314
offer_id      4314
product_id    4314
offer_pos     4314
type          4314
min_price     4314
count         4314
dtype: int64

In [172]:
a=result.groupby(['EAN','product_id','min_price']).agg({'count': ['sum']})

In [173]:
a

                                    count
                                      sum
EAN           product_id  min_price
191190219553  6613774.0   80.0        1.0
191190219577  6613774.0   80.0        1.0
192824082994  5532676.0   85.0        1.0
193145645523  200555503.0 59.0        3.0
193655216572  7029478.0   39.0        3.0
...                                   ...
9010159299485 200745481.0 120.0       1.0
9010159884131 200135860.0 99.0        1.0
9315891072595 4117643.0   165.0       2.0
9315891136105 200995888.0 170.0       1.0
9315891479493 6389869.0   185.0       2.0

[2394 rows x 1 columns]

In [175]:
a.to_csv('output.csv', index=True)

In [28]:
df_result_2.head(10)

NameError: name 'df_result_2' is not defined