In [1]:
import pandas as pd
from datetime import date

In [3]:
start_date = date(2019, 1, 1)
end_date = date(2021, 9, 30)
delta = end_date - start_date
period = delta.days

In [4]:
df_dates = pd.DataFrame({'date':pd.date_range(start_date, periods=period)})
print(df_dates.shape)
df_dates.head()

(1003, 1)

        date
0 2019-01-01
1 2019-01-02
2 2019-01-03
3 2019-01-04
4 2019-01-05

In [5]:
df_hours = pd.DataFrame({'hour':[*range(0,24,1)]})
print(df_hours.shape)
df_hours.head()

(24, 1)

   hour
0     0
1     1
2     2
3     3
4     4

In [13]:
def cartesian_product_basic(left, right):
    return (
       left.assign(key=1).merge(right.assign(key=1), on='key').drop('key', 1))

overall_df=cartesian_product_basic(df_dates, df_hours)

In [10]:
print(pd.__version__)

1.1.3

In [11]:
df_merged = df_dates.merge(df_hours, how="cross",on=None)
df_merged.date = df_merged.date.astype(str)
df_merged.hour = df_merged.hour.astype(str)
print(df_merged.shape)
df_merged.head(48)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [53]:
sample_oop_data = pd.DataFrame({'date':[date(2008, 8, 18)], 'hour':2, 'oop':3483})
sample_oop_data.date = sample_oop_data.date.astype(str)
sample_oop_data.hour = sample_oop_data.hour.astype(str)

In [54]:
sample_oop_data

         date hour   oop
0  2008-08-18    2  3483

In [56]:
final_df = pd.merge(df_merged, sample_oop_data, how='left', on=['date', 'hour'])
final_df.head()

         date hour     oop
0  2008-08-18    0     NaN
1  2008-08-18    1     NaN
2  2008-08-18    2  3483.0
3  2008-08-18    3     NaN
4  2008-08-18    4     NaN